@import "partials/variables";

/* SLIDESHOW */
#slideshow-container {
	position: relative;
	width: 90%;
	height: 350px;
	margin: 5% auto;
	background-color: #111;
	text-align: center;
	#slides {
	    .slide {
	        position: absolute;
        	top: 0;
        	left: 0;
        	opacity: 0;
        	z-index: 0;
        	@include transition(opacity 1.5s);
	        img {
            	max-width: 100%;
            	max-height: 350px;
	        }
	    }
	    .showing {
        	opacity: 1;
        	z-index: 1;
        }
	}
	#next {
    	cursor: pointer;
        position: absolute;
    	top: 50%;
    	padding: 1.8rem 1.5rem;
    	margin-top: -42px;
    	color: #666;
    	font-weight: bold;
    	font-size: 4rem;
    	z-index: 3;
    	@include transition(0.3s);
        @include user-select;
        right: 0;
        text-align: right;
        border-radius: 3px 0 0 3px;
        &:hover {
            color: #ccc;
    	    background: rgba(0,0,0,0.8);
        }                              
    }
    #prev {
        @extend #next;
        left: 0;
        right: auto;
        text-align: left;
        border-radius: 0 3px 3px 0;
    }
	#pause {
    	cursor: pointer;
    	position: absolute;
    	width: 17px;
    	height: 18px;
    	top: 10px;
    	left: 10px;
    	z-index: 4;
    	color: #555;
    	background: #ccc;
    	border-radius: 3px;
    	font-size: 1.1rem;
    	padding: 1px;
    	&:hover {
    	    color: #333;
    	    background: #eee;
    	}
    }
    #dots {
    	position: relative;
    	text-align: center;
    	top: 320px;
    	z-index: 2;
    	.dot {
            cursor: pointer;
            height: 11px;
            width: 11px;
            margin: 0 2px;
            border: 1px solid #ddd;
            border-radius: 50%;
            display: inline-block;
            @include transition(0.3s);
            &:hover {
                background-color: #bbb;
                border: none;
            }
        }
        .active {
        	background-color: #ddd;
        }
    }
}


/* NEWS */
#news {
    margin-top: 8%;
    .story {
    	margin: 5% 0;
    	.newsimg {
        	border-radius: 5px;
        }
        .text {
        	h5 {
            	font-size: 1.9rem;
            	font-weight: bold;
            	font-family: $roboto_fontstack;
            	padding-bottom: 1%;
            	margin-top: 0px;
            }
        }
    }
}