#intro {
    margin-bottom: 5%;
}

#all-exhibits {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    .exhibit {
        margin-bottom: 6%;
    }
    h4 {
        text-align: center;
        margin-bottom: 6%;
        font-size: 2rem; 
        font-weight: bold;
    }
    img {
        margin: auto; 
        max-width: 75%;
    }
}
