#intro {
	margin-top: 25px;
	margin-bottom: 25px;
}

#content h4 {
	font-weight: bold;
}

#content ul {
	list-style: none;
	margin-bottom: 40px;
	padding-left: 20px;
}

#content li p {
    margin-top: 15px;
    margin-bottom: 35px;
}

#content .aside {
	font-style:italic;
	font-size:0.99em;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: -5px;
}

#content .date {
	font-weight:bold;
	font-size: 1.1em;
	padding-left:20px;
	margin-top:-20px;
}