#header .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

#header .col {
  position: relative; }
  #header .col img {
    display: block; }
  #header .col #logo {
    margin: 3% auto 3% auto; }
  #header .col #psrclogo {
    position: absolute;
    top: 10%;
    left: -10%;
    margin-left: auto;
    margin-right: auto; }
  #header .col #fb {
    position: absolute;
    bottom: 4%;
    right: 20%; }

@media screen and (max-width: 768px) {
  #header .col-sm-9 {
    width: 100%; }
  #header .col-sm-3 {
    display: none; } }

#navbar {
  text-align: center;
  font: 1.2em Muli, Helvetica, sans-serif;
  background-color: #1D3595;
  margin-bottom: 0;
  min-height: 2em; }
  #navbar ul {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    #navbar ul li a {
      /*padding: 0.7em 1.8em;*/
      color: #eee;
      font-weight: 600; }
    #navbar ul li:hover a:hover {
      color: #fff;
      text-decoration: underline; }
    #navbar ul .current {
      background-color: #ddd;
      color: #1D3595;
      font-weight: 800; }

#content {
  width: 100%;
  float: left;
  padding: 2% 8% 5% 8%; }
  #content h1 {
    color: #12215e;
    font-family: Lato, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    margin-bottom: 4%; }
  #content h2, #content h3 {
    color: #12215e;
    font-weight: bold;
    margin: 3% 0 2% 0;
    font-family: Muli, Helvetica, sans-serif;
    font-size: 2.2rem; }
  #content h3 {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1.8rem; }

#footer {
  clear: both;
  background-color: #1D3595;
  font: 1.4rem Roboto, Helvetica, sans-serif;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 2% 4% 1% 4%; }
  #footer p {
    color: #ccc; }
  #footer #contact {
    color: #ddd;
    margin-top: 2%; }
    #footer #contact p {
      font-size: 1.6rem; }
    #footer #contact p.name {
      margin-bottom: 1%;
      font-weight: bold; }
    #footer #contact p.address {
      padding: 0;
      margin: 0; }
    #footer #contact p.phone {
      margin-top: 3%; }
    #footer #contact .facebook img {
      margin: 4% auto;
      width: 13%; }
    #footer #contact p.psrc {
      font-size: 1.4rem;
      margin-top: 10%; }
      #footer #contact p.psrc a {
        color: #7BABD1; }
  #footer #affiliates img {
    padding: 1% 2%; }
  #footer #affiliates .one {
    max-width: 20%; }
  #footer #affiliates .two {
    max-width: 18%; }
  #footer #affiliates .three {
    max-width: 40%; }
  #footer #affiliates .four {
    max-width: 26%; }
  #footer #affiliates .five {
    max-width: 26%; }
  #footer #copyright p {
    color: #FFD80E; }

body {
  background: #333 url("../images/spaceswirldoubled.jpg") repeat-y;
  background-size: 100%;
  overflow-x: hidden;
  font-family: "Roboto Slab", "Times New Roman", serif; }

.container {
  background: #ffffff;
  width: 75%;
  margin: 1% auto 1% auto;
  padding: 0; }

@media screen and (max-width: 1100px) {
  body {
    background: none; }
  .container {
    width: 100%; } }
