#intro {
  margin-bottom: 4%; }

#content h4 {
  font-weight: bold; }

#content ul {
  list-style: none;
  margin-bottom: 6%;
  padding-left: 3%; }
  #content ul li p {
    margin-top: 1.5%;
    margin-bottom: 4%; }

#content .aside {
  font-style: italic;
  font-size: 0.97em;
  margin-bottom: -0.5%;
  margin-top: -0.5%; }

#content .date {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 3%;
  margin-top: -2.5%; }
