#content {
	width: 100%;/*78%;*/
	float:left;
	padding: 2% 6% 5% 6%;
	h1 {
		color: $blue_text;
		font-family: $lato_fontstack;
		text-align: center;
		text-transform: uppercase;
		font-size: 2.8rem;
	}
	h2 {
		color: $blue_text;
		font-weight: bold;
		margin: 3% 0 1.5%;
		font-family: $muli_fontstack;
		font-size: 2.5rem;
	}
	h3 {
		@extend h2;
		font-family: $lato_fontstack;
		font-size: 1.8rem;
	}
}