#footer {
	clear: both;
	background-color: $dark_blue;
	font: 1.4rem $roboto_fontstack;
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 0;
	padding: 2% 4% 1% 4%;
	p {
		color: #ccc;
	}
	#contact {
		color: #ddd;
		margin-top: 2%;
		p {
			font-size: 1.6rem;
		}
		p.name {
			margin-bottom: 1%;
			font-weight: bold;
		}
		p.address{
			padding: 0;
			margin: 0;
		}
		p.phone {
			margin-top: 3%;
		}
		p.psrc {
			font-size: 1.4rem;
			margin-top: 20%;
			a {
				color: $light_blue;
			}
		}
	}
	#affiliates {
		img {
			padding: 1% 2%;
		}
		.one { max-width: 20%; }
		.two { max-width: 18%; }
		.three { max-width: 40%; }
		.four { max-width: 26%; }
		.five { max-width: 26%; }
	}
	#copyright p {
		padding-top: 2%;
		color: $yellow_text;
	}
} 