$dark_blue: #1D3595;
$light_blue: #7BABD1;
$blue_text: darken($dark_blue, 13%);
$calendar_blue: #D0E0EE;

$robotoslab_fontstack: "Roboto Slab", "Times New Roman", serif;
$roboto_fontstack: Roboto, Helvetica, sans-serif;
$muli_fontstack: Muli, Helvetica, sans-serif;
$lato_fontstack: Lato, Helvetica, sans-serif;