extend ../templates/layout
block content
	h1 Contact
	p For reservations and other information, call or email Joy Ivey: 
		br
		| (910) 735-2148
		br
		a(href='mailto:"Joy%20Ivey"%20<joy.ivey@robeson.k12.nc.us>') joy.ivey@robeson.k12.nc.us
	p We are located at:
		br
		| 420 Caton Road
		br
		| Lumberton, NC 28360
	#directions
		iframe(width="600" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key="+apikey+"&q=Robeson+Planetarium,Lumberton+NC" allowfullscreen)
		p From I-95:
			br
			| Take exit 17, turn onto Caton Rd. The planetarium will be about .25 mi to the west. There's a small street with parking in front of it.
	hr
	#staff
		h2 Our Team
			.person.row
				.col-sm-3
					img(src="images/people/ken.jpg" alt="Ken Brandt" height="120" width="120" class="profilepic")
				.col-sm-9
					h3 Ken Brandt, M. Ed., NBCT
					h4 Director
					a(href='mailto:"Ken%20Brandt"%20<kenneth.brandt@robeson.k12.nc.us>') brandtk.psrc@robeson.k12.nc.us
			.person.row
				h3 Joy Ivey
				h4 Secretary
				a(href='mailto:"Joy%20Ivey"%20<joy.ivey@robeson.k12.nc.us>') joy.ivey@robeson.k12.nc.us
			.person.row
				h3 Cleveland Oxendine
				h4 Driver
			.person.row
				h3 Dr. Elizabeth Younce
				h4 Supervisor, Assistant Superintendent of Curriculum & Instruction
				p.phone 910-735-2370