extend ../templates/layout
block head
	link(rel='stylesheet', href="/stylesheets/styles_contact.css")
block content
	h1 Contact
	#reservations
		h3 For reservations and other information, call or email Joy Ivey: 
		h4 (910) 735-2148
		h4
			a(href='mailto:"Joy%20Ivey"%20<joy.ivey@robeson.k12.nc.us>') joy.ivey@robeson.k12.nc.us
	hr
	#directions
		h3 Directions:
		p.address 420 Caton Road
		p.address Lumberton, NC 28360
		iframe.map(width="600" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key="+apikey+"&q=Robeson+Planetarium,Lumberton+NC&zoom=15" allowfullscreen)
		p From I-95:
			br
			| Take exit 17, turn onto Caton Rd. The planetarium will be about .25 mi to the west. There's a small street with parking in front of it.
	hr
	#staff
		h2 Our Team
		.person.row
			.col-sm-2.imgcontainer
				img.profilepic.img-responsive(src="images/people/ken.jpg" alt="Ken Brandt" height="120" width="120")
			.col-sm-10
				h3.name Ken Brandt, M. Ed., NBCT
				h4.title Director
				a.email(href='mailto:"Ken%20Brandt"%20<kenneth.brandt@robeson.k12.nc.us>') brandtk.psrc@robeson.k12.nc.us
		.person.row
			h3.name Joy Ivey
			h4.title Secretary
			a.email(href='mailto:"Joy%20Ivey"%20<joy.ivey@robeson.k12.nc.us>') joy.ivey@robeson.k12.nc.us
		.person.row
			h3.name Cleveland Oxendine
			h4.title Driver
		.person.row
			h3.name Dr. Elizabeth Younce
			h4.title Supervisor, Assistant Superintendent of Curriculum & Instruction
			p.phone 910-735-2370