extend ../templates/layout
block content
    h1 Directions
    #directions
        iframe(width="425" height="350" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Robeson+Planetarium,+Caton+Road,+Lumberton,+NC,+United+States&amp;aq=0&amp;oq=Robeson+Planetarium&amp;sll=37.0625,-95.677068&amp;sspn=42.224734,79.013672&amp;ie=UTF8&amp;hq=Robeson+Planetarium,&amp;hnear=Caton+Rd,+Lumberton,+Robeson,+North+Carolina&amp;t=m&amp;ll=34.62671,-79.056973&amp;spn=0.01236,0.018239&amp;z=15&amp;output=embed")
        p From I-95:
            br
            | Take exit 17, turn onto Caton Rd. The planetarium will be about .25 mi to the west. There's a small street with parking in front of it.